body {
 background-color:#e8e8e8;
 position: absolute;
 width: 100%;
}

#topbar{
 width: 100%;
 background-color: #cdcdcd;
 height: 250px;
 position: fixed;
 text-align: center;
 margin: -10px;
 z-index: 1;
 color: #000;
 font-size: 80px;
 font-family: 'Abhaya Libre', serif;
 text-transform: uppercase;
 background-image: url("./images/BAC.png");
 background-repeat: no-repeat;
 background-position: left;
 background-size: 250px;
 transition: all 0.9s linear;
}

.toptitle{
  text-decoration: underline;
  text-decoration-color: #ff8a00;
  margin-top:80px;
  max-height:60px;
}

.toptitle a{
  text-decoration: underline;
  text-decoration-color: #ff8a00;
  color: #000;
}

.links {
 color: #fff;
 font-size: 26px;
 font-family: 'Poppins', san-serif;
 text-transform: uppercase;
 width: auto;
 padding-left: 59px;
 padding-top: 15px;
 display: inline-block;
}

.links a{
  color: #fff;
}
.headings {
 font-size: 56px;
 color: #000;
 font-family: 'Abhaya Libre', serif;
 text-align: left;
 width: 950px;
 display:block;
 margin: 0 auto;
 transition: all 0.9s linear;
}

.paragraph {
  text-align: left;
  font-size: 20px;
  font-family: 'Poppins', san-serif;
  color:#ff8a00;
  max-width:950px;
  display:block;
  margin: 0 auto;
  padding-top: 20px;
}

#container {
margin-top: 300px;
text-align: center;
width: auto;
height: auto;
}

.headimg{
 width: 100%;
 text-align: center;
 z-index: 0;
 color: #fff;
 font-size: 60px;
 display:block;
 padding-top: 50px;
 padding-bottom: 50px;
 margin-left: -10px;
 margin-top: 100px;
 font-family: 'Abhaya Libre', serif;
 text-transform: uppercase;
 text-decoration: underline;
 text-decoration-color: #ff8a00;
}

#obj{
  width: 100%;
  z-index: 0;
  font-size: 60px;
  display:block;
  padding-top: 80px;
  padding-bottom: 80px;
 }
 
.objectives {
 width: 135px;
 height: 135px;
 background-color: #ff8a00;
 opacity: 0.8;
 padding: 5px;
 display: inline-block;
 vertical-align: middle;
}

.objectives h1 {
  color: #fff;
  font-size: 15px;
  font-family: 'Poppins', san-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.orgs{
width: 600px;
display: inline-block;
vertical-align: middle;
}

.orgs h1{
  background-color: #cdcdcd;
  font-family: 'Poppins', san-serif;
  text-transform: uppercase;
  color: white;
  height:130px;
  font-size: 15px;
  padding: 5px;
}

.contact{
 width: 100%;
 background-color: #cdcdcd;
 height: 150px;
 text-align: left;
 padding: 20px;
 margin-left: -10px;
 margin-top: 200px;
 z-index: -1;
 color: #000;
 font-size: 15px;
 font-family: 'Poppins', san-serif;
 text-transform: uppercase; 
 background-image: url("./images/BAC.png");
 background-repeat: no-repeat;
 background-position: left;
 background-size: 250px;
}

table {
  border: none;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  overflow-x: auto;
}

th {
  color: black;
  border-bottom: 1px solid #000;
  padding: 20px;
  text-align: left;
}
td {
  border-bottom: 1px solid #000;
  padding: 20px;
  text-align: left;
}

tr:hover {
  background-color: rgb(255, 255, 255); color: black;
}